body{
    margin:0;
    background-color: black;
    color: whitesmoke;
    font-size: 24px;
    font-family: sans-serif;
}
a, a:visited, a:link, a:focus{
    color:whitesmoke;
}
#about{
    position:fixed;
    top:0;
    right:0;
    background-color: black;
    padding:10px 15px;
}
img{
    filter:invert(1);
    max-height:60vh;
}
img.chart{
    max-height: 50vh;
}
main{
    margin: 24px;
}
h2{
    font-weight: normal;
}
input{
    font-size: 24px;
    padding: 3px 5px;
    max-width: calc(100% - 50px);
    margin-top:24px;
    color:whitesmoke;
    text-transform: lowercase;
    background-color: black;
    border:1px solid whitesmoke;
    position:relative;
    z-index: 1;
}
button{
    background-color: black;
    color:whitesmoke;
    border:1px solid whitesmoke;
    padding: 3px 5px;
    font-size: 24px;
    position:relative;
    z-index: 1;

}
canvas{
    display: block;
    z-index: 0;
    margin:0 auto;
}

main{
    margin-top:45px;
}

@media(max-width: 768px){
    canvas{
        margin-top:24px;
    }
}