body{
    margin:0;
    background-color: black;
    color: whitesmoke;
    font-size: 24px;
    font-family: monospace;
}
a, a:visited, a:link, a:focus{
    color:whitesmoke;
}
img{
    filter:invert(1);
    max-height:60vh;
}
img.chart{
    max-height: 50vh;
}
main{
    margin: 24px;
}
h2{
    font-weight: normal;
}
input{
    font-size: 24px;
    padding: 3px 5px;
    max-width: calc(100% - 50px);
    margin-top:24px;
    color:whitesmoke;
    text-transform: lowercase;
    background-color: black;
    border:1px solid whitesmoke;
}
button{
    background-color: black;
    color:whitesmoke;
    border:1px solid whitesmoke;
    padding: 3px 5px;
    font-size: 24px;

}
canvas{
    display: block;
    margin-top:24px;
}