:root{
    --bg: #023d3a;
}
/* The animation code */
@keyframes update {
    from {opacity: 0;}
    to {opacity: 1;}
  }
#tm-alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #023d3a;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    text-align: center;
    z-index: 10;
    font-size: 20px;
    display: none;
    font-size: calc(var(--font-size) * 1.2);
    padding: 25px;
    box-shadow: 0px 0px 30px rgba(243, 247, 225,0.5);
}
#tm-alert.show{
    display: block;
}

#tm-alert p{
    margin-top: 46px;
}
#tm-alert .button{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid;
}
.close-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
body{
    margin:0;
    background-color: var(--bg);
    color: white;
    font-size: 24px;
    font-family: "Yatra One", serif;
    font-optical-sizing: auto;
}
h1{
    font-size: 24px;
    font-weight: normal;
}
a, a:visited, a:link, a:focus{
    color:white;
}
a:hover{
    color:powderblue;
}
body > button{
    position:fixed;
    bottom:15px;
    right:15px;

}

body .button-decode{
    position:fixed;
    top:15px;
    left:15px;
    text-decoration: none;
    border: 1px solid;
    background-color: #023d3a;
    padding: 3px 10px;
    z-index: 9;
}
body #about{
    position:fixed;
    top:15px;
    right:15px;
    text-decoration: none;
    border: 1px solid;
    padding: 3px 10px;
    background-color: #023d3a;
    z-index: 9;
}

img{
    filter:invert(1);
    max-height:60vh;
}
img.chart{
    max-height: 50vh;
}
main{
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main.hp{
    height: calc(100vh - 48px);
}
h2{
    font-weight: normal;
}
input{
    font-size: 24px;
    padding: 3px 5px;
    max-width: calc(100% - 50px);
    margin-top:24px;
    color:white;
    text-transform: lowercase;
    background-color: var(--bg);
    border:1px dotted white;
    position:relative;
    font-family: inherit;
    z-index: 1;
}
button{
    background-color: var(--bg);
    color:white;
    border:1px dotted white;
    padding: 3px 10px;
    font-size: 24px;
    font-family: inherit;
    position:relative;
    z-index: 1;
    cursor: pointer;
}
button:hover{
    color:powderblue;
}
canvas{
    display: block;
    z-index: 0;
    margin:0 auto;
    margin-top: 24px;
}

canvas.animate{ 
    animation-name: update;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
}
#nav-about{
    position:fixed;
    top:15px;
    right:15px;
    text-decoration: none;
    border: 1px solid;
    padding: 3px 10px;
    text-decoration: none;
    background-color: #023d3a;
    z-index: 9;
}
#nav-about a{
    text-decoration: none;
}
main.about-main{
    margin-top: 55px;
}
main.about-main p,main.about-main li{
    text-align: left;
}
video{
    width: auto;
    height: 60vh;
}

@media(max-width: 900px){
    canvas{
        margin-top:24px;
    }
    video{
        width: 100%;
        height: auto;
    }
    main{
        margin-top: 100px;
    }
    main.about-main{
        margin-top: 80px;
    }
    
    #nav-about{
        flex-direction: column;
    }
    body, input, button{

        font-size: 20px;

    }
    :root{
        --space: 15px;
        --font-size: 20px;
    }
}