:root{
    --bg: #023d3a;
    --color: rgb(243, 247, 225);
    --font-size: 20px;
}
/* The animation code */
@keyframes update {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
body{
    margin:0;
    background-color: var(--bg);
    color: var(--color);
    font-size: var(--font-size);
    font-family: "Yatra One", serif;
    font-optical-sizing: auto;
}
h1{
    font-size: var(--font-size);
    font-weight: normal;
}
a, a:visited, a:link, a:focus{
    color:var(--color);
}
a:hover{
    color:powderblue;
}
body > button{
    position:fixed;
    bottom:15px;
    right:15px;

}

body .button-decode{
    position:fixed;
    top:15px;
    left:15px;
    text-decoration: none;
    border: 1px solid;
    background-color: #023d3a;
    padding: 3px 10px;
    z-index: 9;
    border: none;
    text-decoration: underline;
}
body #about{
    position:fixed;
    top:15px;
    right:15px;
    text-decoration: none;
    border: 1px solid;
    padding: 3px 10px;
    background-color: #023d3a;
    z-index: 9;
    border: none;
    text-decoration: underline;
}

img{
    filter:invert(1);
    max-height:60vh;
}
img.chart{
    max-height: 50vh;
}
main{
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main.hp{
    height: calc(100vh - 48px);
}
h2{
    font-weight: normal;
}
input{
    font-size: var(--font-size);
    padding: 3px 5px;
    max-width: calc(100% - 50px);
    margin-top:24px;
    color:var(--color);
    text-transform: lowercase;
    background-color: var(--bg);
    border:1px dotted var(--color);
    position:relative;
    font-family: inherit;
    z-index: 1;
}
button{
    background-color: var(--bg);
    color:var(--color);
    border:1px dotted var(--color);
    padding: 3px 10px;
    font-size: var(--font-size);
    font-family: inherit;
    position:relative;
    z-index: 1;
    cursor: pointer;
}

button:hover{
    color:powderblue;
}
canvas{
    display: block;
    z-index: 0;
    margin:0 auto;
    margin-top: 24px;
}

canvas.animate{ 
    animation-name: update;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
}
#nav-about{
    position:fixed;
    top:15px;
    right:15px;
    text-decoration: none;
    border: 1px solid;
    padding: 3px 10px;
    text-decoration: none;
    background-color: #023d3a;
    z-index: 9;
}
#nav-about a{
    text-decoration: none;
}
main.about-main{
    margin-top: 55px;
}
main.about-main p,main.about-main li{
    text-align: left;
}
video{
    width: auto;
    height: 60vh;
}

@media(max-width: 900px){
    canvas{
        margin-top:24px;
    }
    video{
        width: 100%;
        height: auto;
    }
    main{
        margin-top: 100px;
    }
    main.about-main{
        margin-top: 80px;
    }
    
    #nav-about{
        flex-direction: column;
    }
    body, input, button{

        font-size: var(--font-size);

    }
    :root{
        --space: 15px;
        --font-size: 17px;
    }
    /* button:last-child{
        display:none;
    } */
}