:root{
    --bg: #023d3a;
    --space: 25px;
    --font-size: 24px;
    --color: white;
    --color-highlight: rgb(243, 247, 225);
}
body *{
    user-select: none;
}
body{
    margin:0;
    touch-action: none;
    background-color: var(--bg);
    color: var(--color);
    font-size: var(--font-size);
    font-family: "Yatra One", serif;
    font-optical-sizing: auto;
}
a, a:visited, a:link, a:focus{
    color:var(--color);
}
#home-intro{
    max-width: 70%;
}

a:hover{
    color:powderblue;
}
body > button{
    position:fixed;
    bottom:15px;
    right:15px;
    

}
#about{
    position:fixed;
    top:0;
    text-decoration: none;
    right:0;
    background-color: var(--bg);
    padding:10px 15px;
}
img{
    filter:invert(1);
    max-height:60vh;
    margin-bottom: var(--space);
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
#gallery a{
    position:relative;
    display: inline-block;
    flex-basis: calc(33.333% - (var(--space)));
}
#gallery a .title em{
    background-color: rgba(0,0,0,0.8);
    padding: 8px 10px;
    font-style:normal;
    text-align: center;
    min-width: 25px;
    display: none;
    border-radius: 100%;
}
#gallery a .title{
    display: flex;
    width: 100%;
    height: calc(100% - var(--space));
    position:absolute;
    z-index: 1;
    /* background-color: rgba(0,0,0,0.8); */
    top:0;
    left:0;
    text-shadow: #023d3a 0 0 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#gallery img{
    width: 100%;
    height: auto;
    max-height: none;
    filter:none;
}
img.chart{
    max-height: 50vh;
}
main{
    margin: var(--space);
}
h2{
    font-weight: normal;
}
input{
    font-size: var(--font-size);
    padding: 3px 5px;
    max-width: calc(100% - 50px);
    margin-top:24px;
    color:white;
    text-transform: lowercase;
    background-color: var(--bg);
    border:1px dotted white;
    position:relative;
    font-family: inherit;
    z-index: 1;
}
button,select{
    background-color: #023d3acc;
    color:white;
    border:1px dotted white;
    padding: 3px 10px;
    font-size: var(--font-size);
    font-family: inherit;
    position:relative;
    z-index: 1;
    cursor: pointer;
    margin: calc(var(--space)/2);
}
button:hover{
    color:powderblue;
}
canvas{
    display: block;
    z-index: 0;
    margin:0 auto;
    overflow: hidden;
}
#flip{
    display: none;
}
#grid{
    left:0;
    width: calc(100vw - 100px);
    height: calc(100vh - 50px);
    overflow: scroll;
    top:0;
    position: absolute;
    padding: 50px;
    padding-top: 0;
    background-color: black;
}
#scene1, #scene2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}
#encode{
    position: fixed;
    z-index: 2;
    top:var(--space);
    right: var(--space);
}
#encode a{
    text-decoration: none;
}
.instruction-modal button a{
    text-decoration: none;
}
.instruction-modal{
    position:fixed;
    top:0;
    left:0;
    background-color: #023d3adf;
    padding: var(--space);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
    height: calc(100vh - (var(--space)*2));
    width: calc(100vw - (var(--space)*2));
}
.instruction-modal p{
    max-width: 800px;
}
#info{
    user-select: none;
    margin:0;
}
main .instruction-modal{
    display: flex;
}
main .instruction-modal.close{
    display: none;
}





#go-scene1{
   position:fixed;
   top:0;
   border:none;
   left:0;
   border-bottom:1px dotted;
   padding:0;
}
#message{
    background-color: #023d3acc;
    margin-top: var(--space);
    padding: var(--space);
    position: fixed;
    top:0;
    margin:0 auto;
    z-index: 2;
    left:auto;
    right:0;
    width:calc(25% - (var(--space) * 2));
}
#message > *{
    max-width: 900px;
}
#message > span{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
main #message{
  display: block;
}
#num{
    background-color: whitesmoke;
    color: var(--bg);
    padding: 5px;
    min-height: 1em;
    margin-top: var(--space);
    margin-bottom: 0;
}
#copy-text{
    border:none;
    width: 25px;
    height: 25px;
    overflow: visible;
    margin: 0;
    padding: 0;
    margin: 0;
    margin-top:3px;
}
#copy-text:hover{
    opacity: 0.8;
}
#copy-text svg{
    height:25px;
    width: 25px;
}
canvas{
    opacity: 1;
}


main.on canvas{
    opacity: 1;
    z-index: 1;
    position: relative;
    left:auto;
    top:auto;
    transform: none;
}
#zero.on, #one.on{
    color: yellow;
}
#grid{
    /* touch-action: none; */
    touch-action: pan-x pan-y;
}
#grid.panning{
    touch-action: pan-x pan-y;
}
#pan-tool{
    pointer-events: none;
    display: none;
    position: fixed;
    right: calc(50vw - 31px);
    z-index: 2;
    bottom: calc((50vh - 184px)/2);
}
main{
    touch-action: none;
}
html, body {touch-action: none;}
/* canvas{
    touch-action: pan-x pan-y pinch-zoom;
} */

.settings{
    display: flex;
    position:fixed;
    top:0;
    z-index: 9;
    right:0;
    padding: var(--space);    
    font-style: italic;
    justify-content: space-between;
}
#intro{
    position: fixed;
    top:var(--space);
    width: 100%;
    text-align: center;
    
}

/* select{
    background-color: transparent;
    border:1px solid white;
    padding: 
} */
 #mobile-only{
    display: none;
 }
#copy-success{
    pointer-events: none;
    position: fixed;
    opacity: 0;
    z-index: 2;
    margin:0;
    margin-top:-40px;
    margin-left:40px;
    transition:0.2s;
    color: var(--color-highlight);
}
#copy-success.on{
    opacity: 1;
}
@media(max-width: 900px){
    :root{
        --space: 15px;
        --font-size: 18px;
    }
    canvas{
        margin-top:24px;
    }
    main{
        margin-top:var(--space);
        
    }
    #scene1{
        margin: calc(var(--space) * 4) var(--space);
    }
    #scene2{
        margin-top: calc(var(--space) * 3);
    }
    #pan-tool{
        display: flex;
        z-index: 3;
        user-select: none;
        padding: 5px;
    }
    #pan-tool svg{
        width: 50px;
        height: 50px;
    }
    #pan-tool.on {
        transform: scale(1.2);
        box-shadow:rgb(243, 247, 225) 0px 0px 12px;
    }
    #message{
        left:0;
        right:auto;
        width:calc(100% - (var(--space) * 2));
    }
    #mobile-only{
        display: inline;
    }
    #mobile-only svg{
        width: 20px;
        height:20px;
        padding:0 5px;
    }
    #adjust-image{
        margin-top:var(--space);
    }
    .settings{
        font-size: 16px;
    }
    #grid{
        left:0;
        width: calc(100vw - 100px);
        height: calc(100vh - 350px);
        overflow: scroll;
        top:0;
        position: absolute;
        padding: 50px;
        padding-top: 300px;
        padding-bottom: 500px;
        background-color: black;
    }
    .settings button{
        padding: 3px 8px;
        font-size: 16px;
    }
    .instruction-modal{
        max-width: none;
        padding: calc(var(--space)* 2);
        height: calc(100vh - (var(--space)*4));
        width: calc(100vw - (var(--space)*4));
    }
    #info{
        padding: 0px 8px;
    }
    #message{
        padding: var(--space);
        padding-bottom: 0;
    }
    
}